@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MontserratRegular.woff2") format("woff2"),
    url("../assets/fonts/MontserratRegular.woff") format("woff"),
    url("../assets/fonts/MontserratRegular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Material Design Icons";
  src: url("../assets/fonts/mdi/materialdesignicons-webfont.eot") format("embedded-opentype"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.woff2") format("woff2"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.woff") format("woff"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.ttf") format("truetype"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Montserrat, sans-serif !important;
}

figcaption {
  text-align: center;
}

.align-top {
  vertical-align: top;
}

a:hover {
  color: #3bfaff !important;
}

.mobile {
  color: white !important;
}

.btn {
  background-color: #1e88e5;
  border-radius: 5px;
}

.blue-font {
  color: #1e88e5;
}

.btn:hover {
  background-color: #2196f3;
}

.green-font {
  color: #2e7d32;
}

.side-nav {
  background-color: #4caf50;
  width: 175px;
}

.side-nav a {
  font-size: 18px !important;
}

.rounded {
  border-radius: 10px;
}

.larger {
  font-size: 1.25em !important;
}

.pad-left {
  padding-left: 1em !important;
}

.two-brs {
  padding-bottom: 2em;
}

.one-br {
  padding-bottom: 1em;
}

.side-nav {
  top: 56px !important;
}

.fade {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
}

.fade.ng-enter, .fade.ng-leave {
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.typed {
  width: 34em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
  font-family: inherit;
  display: inline-block;
}

.hidden {
  display: none;
}
