<div class="container">
    <h1 class="center"><b>About Us</b></h1>
    <div class="center one-br"><img class="responsive-img" src="assets/images/tzu-chings.jpg" width="350px"></div>
    <div class="center">
        <article>
            <div slider-toggle class="btn waves-effect waves-light"><b>Who are we?</b></div>
            <p slider><b><i>We are Rutgers Tzu-Ching (RUTC), Tzu-Chings of the chapter based in <a href="https://www.rutgers.edu/" target="_blank" class="waves-effect">Rutgers University</a>. Tzu-Chings represent the collegiate division of Tzu-Chi.</i></b></p>
        </article>
        <article>
            <div slider-toggle class="btn waves-effect waves-light"><b>Tzu-Chi?</b></div>
            <p slider><b><i><a href="https://www.tzuchi.us/" target="_blank" class="waves-effect">Tzu-Chi (慈濟) - which means "compassion relief" - </a> is an international, charitable organization founded on Buddhist principles by
              <a href="https://en.wikipedia.org/wiki/Cheng_Yen" target="_blank" class="waves-effect">Dharm Master Cheng-Yen</a> in 1966.</i></b></p>
        </article>
        <article>
            <div slider-toggle class="btn waves-effect waves-light"><b>Rutgers?</b></div>
            <p slider><b><i>Our focus at Rutgers is to promote awareness about Tzu-Chi and its principles, and provide community service through food pantries and preparing relief packages for the less fortunate..</i></b></p>
        </article>
    </div>
</div>
