<div class="container">
    <h1 class="center"><b>Contact Us!</b></h1>
    <div class="row">
        <div class="center one-br">
            <p class="larger">Feel free to reach out to us if you want to learn more or have suggestions for events!</p>
            <p class="larger">Sign up for our mailing list <a href="https://goo.gl/forms/BJ4OxVhQ9NqVuHx83" target="_blank" class="waves-effect align-top">here</a>!</p>
        </div>
        <div class="s12 l6 col">
            <figure>
                <img class="responsive-img rounded" src="assets/images/based-eboard.jpeg" width="450px" alt="eboard">
                <figcaption>Our awesome e-board!</figcaption>
            </figure>
        </div>
        <div class="s12 l6 col center">
            <div class="one-br"></div>
            <h3 class="one-br"><a href="mailto:rutgers.tzuching@gmail.com" class="waves-effect"><i class="mdi mdi-email"></i></a></h3>
            <h3 class="one-br"><a href="https://www.facebook.com/rutgers.tzuching" target="_blank" class="waves-effect"><i class="mdi mdi-facebook-box"></i></a></h3>
            <h3><a href="https://rutgers.collegiatelink.net/organization/tcca" target="_blank" class="waves-effect">getINVOLVED</a></h3>
        </div>
    </div>
</div>
