<div class="container center">
    <h1><b>Rutgers Tzu-Ching</b></h1>
    <div class="one-br">
        <a href="https://www.tzuchi.us/" target="_blank">
            <img src="assets/images/tc-logo.jpg" class="responsive-img" alt="tzu-chi logo">
        </a>
    </div>
    <div class="row">
        <p class="larger"><i>"Don't underestimate your ability; everyone has unlimited potential."</i></p>
        <p class="larger two-brs"><i>Dharma Master Cheng-Yen</i></p>
        <p class="larger green-font"><b>Welcome to the home page of the Rutgers Tzu-Ching (RUTC) chapter!</b></p>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h5 class="larger"><b>Meeting Times:</b></h5>
            <p>Mondays, 9:30 PM</p>
        </div>
        <div class="col s12 m6">
            <h5 class="larger"><b>Location:</b></h5>
            <p>Livingston Student Center, Room 111</p>
        </div>
    </div>
    <article class="center two-brs">
        <div slider-toggle class="btn waves-effect waves-light"><b>Upcoming Events</b></div>
        <p slider><i>None at the moment; check our <a href="https://www.facebook.com/rutgers.tzuching" target="_blank" class="waves-effect">Facebook</a> for details!</i></p>
    </article>
</div>
