<div class="container">
    <h1 class="center"><b>Rutgers Tzu-Ching</b></h1>
    <div class="center one-br">
        <a href="https://www.tzuchi.us/" target="_blank">
            <img src="assets/images/tc-logo.jpg" class="responsive-img" alt="tzu-chi logo">
        </a>
    </div>
    <div class="row center">
        <h5 class="one-br green-font"><b>(慈青)</b></h5>
        <p class="larger"><b>Welcome to the home page of the Rutgers Tzu-Ching (RUTC) chapter!</b></p>
    </div>
    <div class="row center">
        <div class="col s12 m6">
            <h5 class="larger"><b>Meeting Times:</b></h5>
            <p>Every other Monday, 9:30 PM</p>
        </div>
        <div class="col s12 m6">
            <h5 class="larger"><b>Location:</b></h5>
            <p>Tillett Hall, 103D</p>
        </div>
    </div>
    <div class="hide-on-med-and-up">
        <ul class="center">
            <li><a href="#about">about</a></li>
            <li><a href="#mission">mission</a></li>
            <li><a href="#contact" class="btn waves-effect waves-light">contact</a></li>
        </ul>
    </div>
</div>