<div class="container">
    <h1 class="center"><b>Rutgers Tzu-Ching</b></h1>
    <div class="center one-br">
        <!--<a href="https://www.rutgers.edu/" target="_blank">-->
            <!--<img src="assets/images/rutgers-logo.png" class="responsive-img" alt="rutgers logo" width="225px">-->
        <!--</a>-->
        <a href="https://www.tzuchi.us/" target="_blank">
            <img src="assets/images/tc-logo.jpg" class="responsive-img" alt="tzu-chi logo">
        </a>
    </div>
    <div class="row center">
        <h5 class="one-br green-font"><b>(慈青)</b></h5>
        <p class="larger"><b>Welcome to the home page of the Rutgers Tzu-Ching chapter!</b></p>
    </div>
</div>