<div class="container">
    <h1 class="center"><b>Our Mission</b></h1>
    <div class="row">
        <div class="s12 l6 col">
            <div class="two-brs"></div>
            <h5 class="green-font"><b>Tzu-Chi's Mission:</b></h5>
            <p class="one-br">
                <a href="http://tw.tzuchi.org/en/index.php?option=com_content&view=article&id=293&Itemid=283" target="_blank" class="waves-effect align-top">Tzu-Chi's mission</a> is to alleviate the suffering of the less fortunate and those who have fallen on hard times, through the principles of compassion and joyful giving.
                Focus is given primarily to eight "missions," known as the "Eight Footprints."
            </p>
            <h5 class="blue-font"><b>RUTC's Mission:</b></h5>
            <p>
                As a branch of Tzu-Chi, RUTC's chapter mission is to spread awareness of Tzu-Chi and its principles (including charity and environmental awareness) across campus and participate in local humanitarian efforts.
            </p>
        </div>
        <div class="s12 l6 col center">
            <img class="responsive-img" src="assets/images/mission-image.jpg" alt="mission image">
        </div>
    </div>
</div>
